/********************  Boaz formating start **********************/

body {
  max-width: 2570px;
  margin: auto;
}

body,
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #1c362b, #4b6752, #1c362b);
  background-size: 180% 180%;
  width: 0;
  height: 25%;
  animation: gradient-animation 5s ease infinite;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.grid-2,
.grid-3,
.grid-6,
.grid-7 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.animate-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.bg-color-w {
  background-color: #fff;
}

.text-color {
  color: #fbfadd;
}

.text-color-w {
  color: #fff;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.linear-font {
  background: linear-gradient(100deg, #001647, #155b9b, #001647);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

/********************   Animation formating start **********************/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/********************   Animation formating end **********************/

/********************  Identical instructions start **********************/

.header-content,
.FAQ-content {
  padding: 0 4em;
}

.header-content,
.slider-content__carousel-content {
  background: #4b6752;
}

.header-logo-user-box,
.navigation-content__link-content__div,
.form-content,
.AccordionOpen {
  background: #1c362b;
}

.header-logo-user-box,
.counter,
.counter__input {
  align-items: center;
}

.header-logo-user-box__search-box__input,
.slider-content__img,
.carousel-container,
.form-content__img-content__img,
.form-group__input,
.form-group__textarea {
  width: 100%;
}

.products-content__link-content__NuxtLink,
.contact-form__btn-box__btn,
.FAQ-content__link-content__NuxtLink {
  background: #1c362b;
}

.header-logo-user-box__search-box__input,
.header-logo-user-box__login-box__link,
.carousel-item__NuxtLink {
  background: #fbfadd;
}

.header-logo-user-box__search-box__input,
.header-logo-user-box__login-box__link,
.carousel-item__NuxtLink,
.products-content__link-content__NuxtLink,
.contact-form__btn-box__btn,
.FAQ-content__link-content__NuxtLink {
  border-radius: 2em;
}

.header-logo-user-box__login-box__link {
  color: #000;
}

.products-content__link-content,
.FAQ-content__link-content {
  padding: 3.5em 0;
}

.products-content__h2,
.FAQ-content__h3 {
  padding: 2em 0;
}

.products-content,
.FAQ-content {
  background: #f8faee;
}

.carousel-item__NuxtLink,
.products-content__link-content__NuxtLink,
.contact-form__btn-box__btn,
.FAQ-content__link-content__NuxtLink {
  padding: 0.5em 1.5em;
}

/********************  Identical instructions end **********************/

/********************  Header formating start **********************/

.header__up-box {
  background: #f8faee;
  padding: 0.5em 4em;
}

.header__up-box__link__img {
  width: 1em;
  height: 0.8em;
}

.header__up-box__link {
  color: #0a1310;
}

.header__up-box__link--margin {
  margin-right: 2.5em;
}

.header-logo-user-box {
  padding: 1em 4em;
}

.header-logo-user-box__search-box__input {
  padding: 1em;
  border: 0;
}

.header-logo-user-box__search-box__img {
  top: 0.45em;
  right: 1em;
  width: 1.7em;
}

.header-logo-user-box__img-box__img {
  width: 35%;
}

.header-logo-user-box__search-box {
  margin-left: -45%;
}

.header-logo-user-box__login-box__link {
  padding: 0.7em 1em;
}

.header-logo-user-box__login-box__link--margin {
  margin-left: 1.3em;
}

.header-logo-user-box__login-box__link__img {
  width: 1em;
  height: 1em;
  margin-left: 0.3em;
}

.menu__list {
  padding: 0.7em 0;
  margin: -1.2em 0 0 0;
  justify-content: space-between;
}

.menu__item {
  font-size: 0.95rem;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

.carousel {
  overflow: hidden;
  border: 1px solid #fbfadd;
  height: 19em;
}

.carousel-slide {
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  padding: 2em;
}

.carousel-control {
  cursor: pointer;
}

.slider-content__carousel-content {
  top: 21%;
  right: 5%;
  width: 40em;
  padding: 1.3em;
}

.carousel__btn-content {
  justify-content: end;
}

.carousel-item__p {
  margin-bottom: 2em;
}

/********************  Slider formating end **********************/

/********************  Products formating start **********************/

.products-content {
  padding: 0 4em 0 4em;
  margin-top: -0.2em;
}

/********************  Products formating end **********************/

/********************  Navigation formating start **********************/

.navigation-content {
  padding: 0 4em 13em 4em;
}

.form-content__form-img-content {
  padding: 0 4em 0 4em;
  bottom: 8em;
}

.navigation-content__link-content__div {
  padding: 2em 0;
}

.navigation-content__h3 {
  padding: 3em 0;
}

.navigation-content__link-content__div__img {
  width: 27%;
}

/********************  Navigation formating end **********************/

/********************  Form formating start **********************/

.form-group__input,
.form-group__textarea {
  margin: 1em 0;
  padding: 1em;
}

.form-group__input,
.form-group__textarea,
.accordion-content__header {
  border: 1px solid #1c362b;
}

.contact-form {
  padding: 2.5em;
  border: 1px solid;
  margin: 1.7em;
  max-height: 92%;
}

.form-content__form-img-content__div {
  height: 42.7em;
}

.form-content__img-content__img {
  height: 100%;
}

/********************  Form formating end **********************/

/********************  FAQ formating start **********************/

.FAQ-content {
  margin-top: -3em;
}

.accordion-content {
  flex-direction: column;
}

.accordion-content__header {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  margin-bottom: 1em;
}

.accordion-content__header__arrow {
  transition: transform 0.3s ease-in-out;
}

.accordion-is-open {
  transform: rotate(-180deg);
}

.accordion-content__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.AccordionOpen {
  max-height: 5em;
  opacity: 1;
  margin-bottom: 1em;
  padding: 1em;
}

/********************  FAQ formating end **********************/

/********************  Footer formating start **********************/

/********************  Footer formating end **********************/

/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
}

@media (min-width: 2000px) and (max-width: 2200px) {
}

@media (min-width: 1800px) and (max-width: 2000px) {
}

@media (min-width: 1600px) and (max-width: 1800px) {
}

@media (min-width: 1500px) and (max-width: 1600px) {
}

@media (min-width: 1400px) and (max-width: 1500px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .menu__item {
    font-size: 0.78rem;
  }
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.5em;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .grid-2,
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media formating end **********************/

/********************  Boaz formating end **********************/
